:root{
    --colorAzul:#1a73e8;
    --colorAzulHover:#0E4EB5;
    --colorAzulTranparente:rgba(26, 115, 232, 0.664);
    --colorNegro:#202124;
    --colorBlanco:#ffffff;
    --colorClaro:#ededed;
    --colorGris:#b4b4b4;
    --colorRojo:#EA4335;
    --colorAmarillo:#FBBC05;
    --colorVerde:#34A853;
    --colorAzul2:#4285F4;
    --colorCampoObligatorio:rgb(252, 248, 204);
    --colorCampoRestringido:gainsboro;

    --fuentePrincipal:Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
html{
    height: 100%;
    margin: 0;
}
body{
    font-family: var(--fuentePrincipal);
    /*    color: var(--colorAzul);*/
    color:var(--colorNegro);
    width:100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

header{
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.proyecto{
    text-align: center;
    letter-spacing: -1px;
}
.proyecto span{
    font-size: 16px;
    font-weight: 800;
}

.letras span:nth-child(6n+1) {
    color: var(--colorAzul2);
}
.letras span:nth-child(6n+2) {
    color: var(--colorRojo) ;
}
.letras span:nth-child(6n+3) {
    color: var(--colorAmarillo);
}
.letras span:nth-child(6n+4) {
    color: var(--colorAzul2);
}
.letras span:nth-child(6n+5) {
    color: var(--colorVerde);
}
.letras span:nth-child(6n+6) {
    color: var(--colorRojo);
}
h1{
    color:var(--colorAzul);
}
.titulo{
    padding-top: 100px;
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
}
.titulo2{
    padding-top: 100px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: 700;
    color :var(--colorAzul2);
}
.tituloCentral{
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: 700;
}
nav button{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.idioma{
    background: transparent;
    margin: 0;
    padding: 10px;
    & img{
        width: 20px;
    }
}


.botonSession{
    background-color: var(--colorAzul);
    color: var(--colorBlanco);
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    border: var(--colorAzul);
}
.botonSession:hover{
    /**/
    color:white;
    background-color: var(--colorAzulHover);
    box-shadow: 0 0 10px var(--colorAzulTranparente);
}
.boton{
    background-color: var(--colorBlanco);
    color:var(--colorNegro);
    font-size: 14px;
}
.botonAzul{
    font-weight: 600;
    color: var(--colorAzul);
    background: white;
    padding: 0 20px;
    justify-content: center;
    align-self: center;
}
.botonVolverLogin{
    padding-top: 20px;
    display: flex;
    align-content: center;
}
.boton:hover{
    text-decoration:underline ;
}

/*Estilos contenido pricipal.. main*/
main{
   
    text-align: center;
    flex: 1;

}

/*Estilos para las variables superGlobales*/
section{
    justify-content:  center;
    
}
.articleSG{
    width:100%;
    display: flex;
    justify-content: center;
    
}
.tableSG {
    border-collapse: collapse;
    width: 80%;
    border: 2px solid black;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    
}
th, td {
    border: 1px solid black;
    padding-left: 8px;
    text-align: start;


}
th {
    background-color: #9999cc;
    padding: 8px;
    text-align: center;

}
td:nth-child(even) {
    /*seleciona los elemenos pares*/
    background-color: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-right:50px;
}
td:nth-child(odd) {
    /*seleciona los elemenos impares*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
}




/*Estilo de los botones*/
.botones{
    margin-top: 30px;
}
.botones form button{
    all: unset;/*Así se quitan lo que los botones tengan por defecto*/
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--colorClaro);
    cursor: pointer;/*Para que el cursor sea una mano*/
    border-radius: 5px ;
}
.divBotones{
    display: flex;
    justify-content: end;
    padding-right: 30px;
}
.botonVolver{
    justify-content: center;
}





/*Formulario*/
.imagen{
    width: 50%;
    padding: 5%;

}
.pInicioSession{
    top: 50%;
    font-size: 36px;
    text-align: start;
}
img{
    width: 100px;
}
.mainForm{
    display: grid;
    background-color: #F0F4F9;
    justify-items:   center;
}

.formulario{
    width: 70%;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    margin-top: 10px;
}
.form {
    padding-top:75px;
    right: 250px;
    width: 50%;
}
label{
    position: absolute;
    left: 10px;
    top: 40px;
    transition: 0.2s ease;
    pointer-events: none;
    background: transparent;
    padding: 0 4px;
    font-size: 16px;
    margin-bottom: 10px;
    /*    text-align: start;*/
    display: inline-block;
    width: auto;
    color:#999;
}
input {
    height : 60px;
    width: 75%;
    display: block;
    padding: 0 10px;
    margin-bottom: 1.6rem;
    border: 1px solid ;
    border-radius: 5px;
    outline: none;
}
#usuario, #passwd{
    background-color: var(--colorCampoObligatorio);
}
#usuario:not(:placeholder-shown),
#passwd:not(:placeholder-shown) {
    background-color: white;
    border-color: var(--colorAzul2);
    box-shadow: 0 0 0 .5px blue;
}
button{
    all: unset;/*Así se quitan lo que los botones tengan por defecto*/
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--colorClaro);
    cursor: pointer;/*Para que el cursor sea una mano*/
    border-radius: 5px ;
    margin-top: 20px;
}
.contenedorInput{
    position: relative;
   
}
input:focus + label, input:not(:placeholder-shown) + label {
    top: 10px;
    left: 8px;
    font-size: 12px;
    color: var(--colorAzur2);
    transform: translateY(0);
    background: white;
}

input:focus{
    border-color: var(--colorAzul2);
    box-shadow: 0 0 0 .5px blue;
}
#usuario:focus, #passwd:focus{
    background-color: white;
    border-color: var(--colorAzul2);
    box-shadow: 0 0 0 .5px blue;
}




/*Estilos del footer ----------------------------------------------------------------*/
footer{
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    background-color: var(--colorClaro);
    width: 100%;
    padding: 15px 0;
}
footer .pais{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--colorGris);
    color: #202124;
    display: flex;
    justify-content: space-between;
}
.bxl-github{
    font-size: 2rem;
    border-radius: 50%;
    margin-right: 38px;
    color: var(--colorClaro);
    background-color: var(--colorAzul);  
}
.footerInfo{
    padding: 0 20px;
    overflow: hidden;
    text-align: center;
    display: flex;   
}
.info{
    width: 95%;
}
.google{
    width: 5%;
    font-size: 1.7rem;
    padding-top: 5px;
    
}



/*----------------------------------------------------------------*/
/*CSS NOA*/
.sectionNoa{
    display: inline;
}
.articleNoa{
    display: flex;
    flex-direction: column;
    justify-self:  center; 
    & .divNoa{
        display: flex;
        justify-content: space-around;
    } 
    & p{
        font-size: 18px;
    }
   
}
.tituloNoa{
  padding-top: 50px;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: 700; 
    padding-bottom: 50px;
    color:var(--colorAzul);
}
#chiffrex{
    display: inline-flex;
    margin: 20px;
    width: 150px;
}
#constante{
    display: inline-flex;
    width: 150px;
}
.imgNoa{
    width: 800px;
}
.divImgNoa{
    margin: 20px 0;
}

